<div class="card">
    <div class="card-header">
        <h3>
            <button type="button" class="pull-left visible-sm visible-xs toggle fa fa-bars fa-inverse" ng-click="$parent.offcanvas =! $parent.offcanvas"></button>
            {{ selectedRegion.selected.name }}
        </h3>
    </div>
    <div class="card-block" id="content">
        <div class="reusable-charts" ng-controller="ReusableChartsController as vm">
            <div class="bar-chart" ctd-bar-chart
                name="'substanceUseBarChart'"
                data="vm.processedSubstanceData"
                config="vm.config.substanceSanctions"></div>

            <div class="bar-chart" ctd-bar-chart 
                name="'treatmentByRaceBarChart'"
                data="vm.treatmentBarChartData" 
                grouping="'Race'"
                config="vm.config.treatmentByRace"></div>

            <div class="donut-chart" ctd-donut-chart
                name="'treatmentDataByAge'"
                data="vm.treatmentDonutChartData"
                config="vm.config.treatmentByAge"></div>

            <div class="donut-chart" ctd-donut-chart
                name="'treatmentDataByRace'"
                data="vm.treatmentByRaceDonutChartData"
                config="vm.config.treatmentByRace"></div>
            
            <div class="bar-chart" ctd-bar-chart
                name="'sanctionsByTypeData'"
                data="vm.sanctionsByTypeData"
                config="vm.config.sanctionsByType"></div>

            <div class="bar-chart" ctd-bar-chart
                name="'educationNeedsData'"
                data="vm.educationNeedsData"
                config="vm.config.educationNeeds"></div>
        </div>
        <div class="settings-section category-section row" ng-repeat="category in categories">
            <h3 class="section-title" id="{{ category.name | sluggify }}">{{ category.name }}</h3>
            <hr class="title-boundary">
            <div class="chart-container col-xs-12 col-sm-{{chart.config.width}}" ng-repeat="chart in chartObjects | filter:{category: category.name}:true" >
                <chart data="chart" id="{{chart.name | sluggify}}"></chart>
                <div ng-if="chart.config.source&&chart.config.source!=''" class="source-block">
                    {{ chart.config.source }}
                    <span ng-if="chart.config.ckan_url&&chart.config.ckan_url!=''"> &mdash; </span>
                    <a ng-if="chart.config.ckan_url&&chart.config.ckan_url!=''" ng-href="{{chart.config.ckan_url}}" target="_blank">
                        Explore the Data <i class="fa fa-external-link"></i>
                    </a>
                </div>
                <div ng-if="chart.config.footnotes&&chart.config.footnotes!=''" class="footnote-block">
                    <!-- collaps toggle in some sort of header -->
                    <p ng-click="collapsed[(chart.name|sluggify)]=!collapsed[(chart.name|sluggify)]">
                        Notes <i class="fa" ng-class="{true: 'fa-minus', false : 'fa-plus'}[collapsed[(chart.name|sluggify)]||false]"></i>
                    </p>
                    <!-- actual content -->
                    <ul class="footnote-list" ng-show="collapsed[(chart.name|sluggify)]">
                        <li ng-repeat="footnote in chart.config.footnotes">{{ footnote }}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>