<div class="card">
    <div class="card-header">
        <h3>{{ selectedRegion.selected.name }}</h3>
    </div>
    <div class="card-block" id="content">
        <div class="settings-section category-section row" ng-repeat="category in categories">
            <h5 id="{{ category | sluggify }}">{{ category }}</h5>
            <p>category notes</p>
            <chart ng-class="'col-xs-'+viz.config.width" ng-repeat="viz in vizData | filter:{category: category}" data=viz />
        </div>
    </div>
</div>