<div class="card paremeters">
    <div class="card-header">
        <h3>Select Region</h3>
    </div>
    <div class="card-block">
        <div class="settings-section">
            <h5>Region:</h5>
            <select class="form-control" ng-model="selectedRegion.selected" ng-options="region.name for region in regions track by region.id">
                <option value="">Please Select a Region</option>

            </select>
        </div>
        <div class="settings-section">
            <chart class="hidden-xs-down" data="regionMapData" id="region_map"/>
        </div>
        <div class="settings-section">
            <h5>Jump to Section:</h5>
            <!--  list of sections as buttons, triggers content scroll-->
            <button class="btn btn-sm ctdata-btn" ng-repeat="category in categories" ng-click="scrollContent((category.name|sluggify))">{{ category.name }}</button>
        </div>
        <div class="settings-section" ng-if="selectedRegion.selected.id!=''">
            <h5>Download Report:</h5>
            <a target="_blank" class="btn btn-sm ctdata-btn" download ng-href="/data/pdfs/region-{{selectedRegion.selected.id}}.pdf">{{ selectedRegion.selected.name }} Report</a>
        </div>
    </div>
</div>
