<div class="card paremeters">
    <div class="card-header">
        <h3>Select Region</h3>
    </div>
    <div class="card-block">
        <div class="settings-section">
            <h5>Region:</h5>
            <select class="form-control" ng-model="selectedRegion.selected" ng-options="region.name for region in regions track by region.id">
                <option value="">Please Select a Region</option>

            </select>
        </div>
        <div class="settings-section">
            <chart data="regionMapData" id="region_map"/>
        </div>
        <div class="settings-section">
            <h5>Jump to Section:</h5>
            <!--  list of sections as buttons, triggers content scroll-->
            <button class="btn btn-sm ctdata-btn" ng-repeat="category in categories" ng-click="scrollContent((category|sluggify))">{{ category }}</button>
        </div>
    </div>
</div>
