chart {
    svg {

        /* Axis Styling */
        g.axis path {
            display: none;
        }

        g.axis g.tick text {
            fill: $extra-dark-grey;
        }
        g.axis g.tick line {
            stroke: $light-grey;
            stroke-width: 1px;
        }
        /* END Axis Styling */
    }

    div.legend {
        div.key {
            width: 1rem;
            height: 1rem;
            display:inline-block;
        }
        div.legend-text {
            display:inline-block;
            vertical-align: top;
            padding-left: 0.5rem;
        }
    }

    /* Special styles for specific charts - use "&#sluggified_name" */
    &#treatment_table {
        th {
            text-align: center;
        }

        /* Every td except the first */
        td:nth-child(n+2) {
            border-left: 1px solid $extra-light-grey;
        }

        /* Every third td (counting from second td on) */
        td:nth-child(3n+2) {
            border-left: 1px solid $dark-grey;
        }
    }
}