div.chart-container{
    margin-bottom: 2rem;

    div.source-block {

        > a {
            color: $ctdata-extra-dark-blue;
            cursor: pointer;

            i {
                color: $ctdata-extra-dark-blue;
                cursor: pointer;
                text-decoration: inherit;
            }
        }
    }
    div.footnote-block {
        font-size: smaller;
        color: $extra-dark-grey;
        background-color: $extra-light-grey;
        border-radius: 0.25rem;

        > p {
            background-color: $ctdata-dark-blue;
            border-radius: 0.25rem 0.25rem 0 0 ;
            margin: 0;
            padding: 1px 0 1px 1rem;
            color: white;
            cursor: pointer;

            i {
                color: white;
                cursor: pointer;
            }
        }

        > ul {
            &.ng-hide {
                line-height: 0;
                opacity: 0;
            }

            &.ng-show-add,
            &.ng-hide-add {
                -webkit-transition: all 0.25s ease;
                -moz-transition: all 0.25s ease;
                -ms-transition: all 0.25s ease;
                -o-transition: all 0.25s ease;
                transition: all 0.25s ease;
            }
        }
    }
}

chart {
    display: block;
    width: 100%;

    svg {
        /* Axis Styling */
        g.axis path {
            display: none;
        }

        g.axis g.tick text {
            fill: $extra-dark-grey;
        }
        g.axis g.tick line {
            stroke: $light-grey;
            stroke-width: 1px;
        }
        /* END Axis Styling */
    }

    div.legend {
        div.key {
            width: 1rem;
            height: 1rem;
            display:inline-block;
        }
        div.legend-text {
            display:inline-block;
            vertical-align: top;
            padding-left: 0.5rem;
        }
    }

    /* Special styles for specific charts - use "&#sluggified_name" */
    &#region_map {
        path.town {
            fill: $white;
            fill-opacity: 0;
            stroke: $extra-dark-grey;
            stroke-width: 1px;
            
            &.region {
                fill-opacity: 1;
                fill: $ctdata-extra-dark-blue;
            }
        }

    }
    &#treatment_table {
        th {
            text-align: center;
        }

        /* Bold the second row, add bottom border */
        tbody tr:first-child {
            border-bottom: 1px solid $extra-light-grey;
    
            > td {
                font-weight: $heavy;
            }
        }

        /* Bold the word "Total" in last row, add top border */
        tbody tr:last-child {
            border-top: 1px solid $extra-light-grey;

            > td:first-child {
                font-weight: $heavy;
            }
        }

        /* Every td except the first */
        td:nth-child(n+2) {
            border-left: 1px solid $extra-light-grey;
        }

        /* Every third td (counting from second td on) */
        td:nth-child(3n+2) {
            border-left: 1px solid $dark-grey;
        }
    }
    &#cip_in_state_age_table {
        /* Bold word "Total" in last row, add top border */
        tr:last-child {
            border-top: 1px solid $extra-light-grey;

            > td:first-child {
                font-weight: $heavy;
            }
        }
    }
}