.legend.grouped-bar-legend, .legend.stacked-bar-legend {
  .legend-entry {
    display: inline-block;
    padding-right: .75rem;

    .legend-text {
      padding-left: .25rem;
      margin-top: -0.1rem;
    }
  }
}

.bar-chart {
    width: 100px;
}
#example {
    width: 100px;
}


.item0 {
    fill:#F7AEF8;
}
.item1 {
    fill:#B388EB;
}
.item2 {
    fill:#8093F1;
}
.item3 {
    fill:#72DDF7;
}
.item4 {
    fill:#d7d7be;
}

.series0 {
    background-color:#F7AEF8;
}
.series1 {
    background-color:#B388EB;
}
.series2 {
    background-color:#8093F1;
}
.series3 {
    background-color:#72DDF7;
}
.series4 {
    background-color:#d7d7be;
}