.legend.grouped-bar-legend, .legend.stacked-bar-legend {
  .legend-entry {
    display: inline-block;
    padding-right: .75rem;

    .legend-text {
      padding-left: .25rem;
      margin-top: -0.1rem;
    }
  }
}

.bar-chart {
    width: 100%;
}

.item0 {
    fill:#F7AEF8;
}
.item1 {
    fill:#B388EB;
}
.item2 {
    fill:#8093F1;
}
.item3 {
    fill:#72DDF7;
}
.item4 {
    fill:#d7d7be;
}

.key {
    display: inline-block;
    height: 16px;
    width: 16px;
}
.key.series0 {
    background-color:#F7AEF8;
}
.key.series1 {
    background-color:#B388EB;
}
.key.series2 {
    background-color:#8093F1;
}
.key.series3 {
    background-color:#72DDF7;
}
.key.series4 {
    background-color:#d7d7be;
}

.bar .d4 .grid.border rect, .x.grid {
    display: none;
}

.bar .d4 .grid line {
    fill:none;
    stroke: $light-grey;
    stroke-width: 1px;
    shape-rendering: crispEdges;
}
