.legend.pie-legend {
  .legend-entry {
    display: inline-block;
    padding-right: .75rem;

    .legend-text {
      padding-left: .25rem;
      margin-top: -0.1rem;
    }
  }
}


.donut .series0.fill {
    fill:#F7AEF8;
}
.donut .series1.fill {
    fill:#B388EB;
}
.donut .series2.fill {
    fill:#8093F1;
}
.donut .series3.fill {
    fill:#72DDF7;
}
.donut .series4.fill {
    fill:#d7d7be;
}
.donut .series5.fill {
    fill:#A3005B;
}
