#main {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    // Set height at 96 to allow for better control at small screens
    height: 89vh;
    overflow-y: scroll;
}

.main-internal {
    height: 95%;
    overflow-y: scroll;
    overflow-x: hidden;
    // margin-top: -1rem;
    //padding-top: 1rem;
    padding-bottom: 2rem;
    background: white;
}

.hero-row {
    background: #7a838b;
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin-bottom: 2rem;
    //margin-top: -1px;
    p, h1, h2, h3, h4, h5, li {
        color: white;
    }
    a {
        color: $ctdata-light-blue;
    }
}

.project-logo {
    padding-bottom: 1.5rem;
    p {
        margin-top: 0;
        margin-bottom:0;
        padding-top: 0;
        padding-bottom: 0;
    }
    .big {
        margin-left: -.5rem;
        color: white;
        font-size: 5.5rem;
        font-weight: 300;
        font-family: Roboto;
    }
    .small {
        margin-left: -.5rem;
        color: white;
        font-size: 1.05rem;
        margin-top: -1rem;
        padding-left: .35rem;
    }
}

@media screen and (max-width: 500px) {
    #page-content-wrapper {
        padding-bottom: 5px;
    }
    .main-internal {
        height: 100%;
        padding-bottom: 0;
    }
}